 <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Proyecto Coderhouse!</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span>Muñecos</span>
        <span class="example-spacer"></span>
        <span routerLink="/agregar">
            <button mat-icon-button matTooltip="Agrega un nuevo producto">
                <mat-icon>add_to_photos</mat-icon>
            </button>
        </span>
        <span routerLink="/productos">
            <button mat-icon-button matTooltip="Lista todos los producto" class="white-icon">
                <mat-icon>view_comfy</mat-icon>
            </button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
